@charset "EUC-KR";

.maintable{
	font-family:돋음;
	border-collapse: collapse;
}
.logo_img{
		border-radius: 100px 0px 100px 100px;
}
.menu{
	font-weight: bold;
}
.bgcolor1{
	background:#ff8c00; /*짙은 주황색 */
}
.bgcolor2{
	background:#060; /*짙은 초록색*/
}
.bgcolor3{
	background:gray;
}
.bgcolor4{
	background:lightgray;
}
.fontcolor1{
	color:white;
}

